* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-grey: #F5F5F7CC;
  --primary-txt: #F5F5F7;
  --secondary-txt: #1D1D1F;
  --btn-bg: #0071E3;
  --button-border: #2997FF;
}
html{
  scroll-behavior: smooth;
}
/* body{} */

header{
  width: 100%;
  height: 5vh;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-grey);
}
header>nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 100%;
  gap: 24px;
}
header>nav>ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
header>nav>ul>li{
  list-style: none;
  font-size: 12px;
  font-weight: 400;
}
.nav-icons{
  display: flex;
  gap: 32px;
}